<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Dashboard</title>
</head>
<body>
    <h1>Welcome to the Employee Dashboard</h1>

    <!-- Display the employee's information if logged in -->
    <p th:if="${session.employee != null}">
        Logged in as: <span th:text="${session.employee.eName}"></span>
    </p>
	<p th:if="${session.employee != null}">
        <a th:href="@{employees/track_Employee}">View Employee Details</a>
    </p>
    <!-- Logout link -->	
    <a th:href="@{/logout}">Logout</a>
</body>
</html>
